<div class="mat-card mat-focus-indicator" style="">
    <div class="bg-light p-10 p-r-20 p-l-20 table-filter" fxFlex.gt-lg="75" fxFlex.gt-md="30" fxFlex.gt-xs="100" fxFlex="100">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
  </div>
  
  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <mat-card-title>All Properties</mat-card-title>
          <!-- <div class="col-sm-7">
            <select class="form-control col-12" name="property_code" required [(ngModel)]="selectedProperty"  #building="ngModel" (change)="onChange()">
              <option value="" selected>Choose property name</option>
              <option value="{{building.property_code}}" *ngFor="let building  of allbuilding">{{building.property_name}}</option>
            </select>
            <span class="help-desk" *ngIf="building.invalid && building.touched" style="color: #E74C3C;" >Please enter user type.</span>
          </div> -->
         
          <div class="responsive-table">
            <mat-table [dataSource]="dataSource" matSort>
  
              <!-- ID Column -->
              <!-- <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
              </ng-container> -->
  
              <!-- Name Column -->
              <ng-container matColumnDef="property_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Property Name</mat-header-cell>
                <mat-cell *matCellDef="let row" class="cursor-p" (click)="detail(row.user_id)"> {{row.property_name}} </mat-cell>
              </ng-container>
  
              <!-- Color Column -->
              <ng-container matColumnDef="property_code">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Property Code </mat-header-cell>
                <mat-cell *matCellDef="let row" class="cursor-p" (click)="detail(row.user_id)"> {{row.property_code}} </mat-cell>
              </ng-container>
  
              <!-- Name Column -->
              <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
                <mat-cell *matCellDef="let row" class="cursor-p" (click)="detail(row.user_id)"> {{ row.address_line1 }}</mat-cell>
              </ng-container>
  
              <!-- Color Column -->
              <ng-container matColumnDef="city">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="m-w-250"> City </mat-header-cell>
                <mat-cell *matCellDef="let row" (click)="detail(row.user_id)" class="m-w-250 cursor-p"> {{row.address_city}} </mat-cell>
              </ng-container>
  
              <!-- Color Column -->
              <ng-container matColumnDef="management_company">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Mnagement Company </mat-header-cell>
                <mat-cell *matCellDef="let row" class="cursor-p" (click)="detail(row.user_id)"> {{row.management_company}} </mat-cell>
              </ng-container>
  
              <!-- Color Column -->
              <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="material-icons m-r-10 cursor-p" (click)="btnClick(row.user_id)">edit</span>
                  <span class="material-icons cursor-p c-red" (click)="btnClick(row.user_id)">delete_forever</span>
                </mat-cell>
  
              </ng-container>
  
  
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>
  
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>