.bg-color-fff {
    background-color: #fff;
}
.table-filter{
    background: transparent;
    max-width: 30%;
}
mat-row, mat-footer-row {
    min-height: 75px;
}
.align-item-center{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 20px;
}
.m-w-250{
    min-width: 250px;
}
.m-r-10{
    margin-right: 10px;
}
.cursor-p{
    cursor: pointer;
}
.c-red{
    color: red;
}
.d-n{
    display: none;
}
.d-b{
    display: block;
}