<!-- ============================================================== -->
<!-- Card Group Row -->
<!-- ============================================================== -->
<div class="card-group">
    <!-- column -->

    <mat-card class="cursor-p" (click)="newResidentsListing()">
        <mat-card-content>
            <!-- column -->
            <mat-icon class="text-info">account_circle</mat-icon>
            <h3 class="m-0">{{newResidents}}</h3>
            <h5 class="text-muted m-t-0 m-b-10">New Residents</h5>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </mat-card-content>
    </mat-card>

    <!-- column -->
    <!-- column -->

    <mat-card class="cursor-p" (click)="lastWeekTasksListing()">
        <mat-card-content>
            <!-- column -->
            <mat-icon class="text-danger">local_mall</mat-icon>
            <h3 class="m-0">{{newTasks}}</h3>
            <h5 class="text-muted m-t-0 m-b-10"># of Tasks This Week</h5>
            <mat-progress-bar color="warn" mode="determinate" value="60"></mat-progress-bar>
        </mat-card-content>
    </mat-card>

    <!-- column -->
    <!-- column -->

    <mat-card class="cursor-p" (click)="todayTasksListing()">
        <mat-card-content>
            <!-- column -->
            <mat-icon class="text-purple">stars</mat-icon>
            <h3 class="m-0">{{todayTasks}}</h3>
            <h5 class="text-muted m-t-0 m-b-10">Today’s Tasks</h5>
            <mat-progress-bar color="accent" mode="determinate" value="80"></mat-progress-bar>
        </mat-card-content>
    </mat-card>

    <!-- column -->
    <!-- column -->

    <mat-card class="cursor-p" (click)="outstandingTasksListing()">
        <mat-card-content>
            <!-- column -->
            <mat-icon class="text-info">content_paste</mat-icon>
            <h3 class="m-0">{{outStandingTasks}}</h3>
            <h5 class="text-muted m-t-0  m-b-10">Outstanding Tasks</h5>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </mat-card-content>
    </mat-card>

    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Chart boxes -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-md="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-card class="bg-success cursor-p" (click)="serviceDayCalendar()">
                    <mat-card-content>
                        <!-- column -->
                        <div class="d-flex p-t-20 p-b-20 no-block align-items-center">
                            <div class="stats">
                                <h3 class="text-white m-0">Service Days</h3>
                                <div class="text-white m-t-0" *ngFor="let service_day of serviceDay">{{service_day}}</div>
                        <!--        <h1 class="text-white m-0">35487</h1>-->
                            </div>
                            <div class="ml-auto" style="height: 84px; width: 100px">
                                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                    [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                                    [chartType]="barChartType">
                                </canvas>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div fxLayout="row wrap" class="cursor-p" (click)="allResidentsListing()">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-card class="bg-purple">
                    <mat-card-content>
                        <!-- column -->
                        <div class="d-flex p-t-20 p-b-20 no-block align-items-center">
                            <div class="stats">
                                <h3 class="text-white m-0">Residents</h3>
                                <h6 class="text-white m-t-0"></h6>
                                <h1 class="text-white m-0">{{totalResident}}</h1>
                            </div>
                            <div class="ml-auto" style="height: 84px; width: 100px">
                                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                    [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                                    [chartType]="barChartType">
                                </canvas>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-md="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- column -->
                <mat-card-title>Our Visitors</mat-card-title>
                <mat-card-subtitle>Different Devices Used to Visit</mat-card-subtitle>
                <div class="text-center">
                    <div id="visitor-chart">
                        <apx-chart [series]="VisitorChartOptions.series" [chart]="VisitorChartOptions.chart"
                            [labels]="VisitorChartOptions.labels" [responsive]="VisitorChartOptions.responsive"
                            [tooltip]="VisitorChartOptions.tooltip" [legend]="VisitorChartOptions.legend"
                            [colors]="VisitorChartOptions.colors" [dataLabels]="VisitorChartOptions.dataLabels"
                            [plotOptions]="VisitorChartOptions.plotOptions" [stroke]="VisitorChartOptions.stroke">
                        </apx-chart>
                    </div>
                </div>
            </mat-card-content>
            <hr>
            <mat-card-content>
                <ul class="list-inline text-center">
                    <li>
                        <h6 class="text-muted text-success m-0">
                            <i class="fa fa-circle font-10 m-r-10 "></i>Mobile</h6>
                    </li>
                    <li>
                        <h6 class="text-muted  text-info  m-0">
                            <i class="fa fa-circle font-10 m-r-10"></i>Desktop</h6>
                    </li>
                    <li>
                        <h6 class="text-muted  text-purple  m-0">
                            <i class="fa fa-circle font-10 m-r-10"></i>Tablet</h6>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-md="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- column -->
                <mat-card-title>Sales Yealry</mat-card-title>
                <mat-card-subtitle>This is the simple example of bar chart</mat-card-subtitle>
                <div id="chart">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                        [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                        [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
                        [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip" [xaxis]="chartOptions.xaxis"
                        [grid]="chartOptions.grid">
                    </apx-chart>
                </div>
                <!-- <div class="barchrt" style="height:325px;">
                    <x-chartist class="" [data]="barChart1.data" [type]="barChart1.type" [options]="barChart1.options"
                        [responsiveOptions]="barChart1.responsiveOptions" [events]="barChart1.events"> </x-chartist>
                </div> -->
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->

    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Image and chart -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Column-->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="oh text-center little-profile">
            <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu" style="height: 187px;">
            <mat-card-content>
                <div class="pro-img">
                    <img src="assets/images/building.png" width="100" alt="user">
                </div>
                <h3 class="m-b-0">{{locationName}}</h3>
                <h6 class="m-t-0 ">{{locationManagementCompanayName}}</h6>
                <mat-card-actions>
                    <button mat-raised-button color="warn" class="cursor-p" (click)="editProperty(locationPropertyCode)">Edit</button>
                </mat-card-actions>
                <div fxLayout="row wrap" class="m-t-40">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">{{locationPropertyCode}}</h3>
                        <small>Code</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">{{locationAddress}}</h3>
                        <small>City</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">{{totalResident}}</h3>
                        <small>Residents</small>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- Column-->
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Captains</mat-card-title>

                <div class="responsive-table">
                    <mat-table #table [dataSource]="dataSource" class="contactlist">
                        <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef class="m-w-250"> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="m-w-250">
                            <span class="header-label">name:</span>
                            <img *ngIf="element.profile_picture_url != ''" src="{{element.profile_picture_url}}" class="img-circle m-r-10" width="30" />
                            <img *ngIf="element.profile_picture_url == ''" src="./assets/images/user.png" class="img-circle m-r-10" width="30" />
                            <h5 class="m-0">{{element.first_name}} {{element.last_name}}</h5>
                        </mat-cell>
                        </ng-container>

                        <!-- Email Column -->
                        <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef class="m-w-250"> Email </mat-header-cell>
                        <mat-cell class="m-w-250" *matCellDef="let element">
                            <span class="header-label">Email:</span>
                            {{element.email}}
                        </mat-cell>
                        </ng-container>

                        <!-- Phone Column -->
                        <ng-container matColumnDef="designation">
                        <mat-header-cell *matHeaderCellDef class="m-w-150"> Phone </mat-header-cell>
                        <mat-cell class="m-w-150" *matCellDef="let element">
                            <span class="header-label">Post:</span>
                            {{element.phone}}
                        </mat-cell>
                        </ng-container>

                         <!-- Phone Column -->
                         <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="material-icons m-r-10 cursor-p" (click)="editCaptain(element.user_id)">edit</span>
                                <span class="material-icons cursor-p c-red" >delete_forever</span>
                            </mat-cell>
                            </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
                <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10]">
                </mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</div>
