.saleschart {
  width: 100%;
}
.contactlist .mat-row {
  padding: 6px 15px;
}
.m-r-10{
  margin-right: 10px;
}
.cursor-p{
  cursor: pointer;
}
.c-red{
  color: red;
}
.m-w-250{
  min-width: 250px;
}
.m-w-150{
  min-width: 150px;
}
.contactlist .mat-row {
  padding: 6px 0px!important;
}