.bg-color-fff {
    background-color: #fff;
}
.table-filter{
    background: transparent;
    max-width: 30%;
}
mat-row, mat-footer-row {
    min-height: 75px;
}
.align-item-center{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 20px;
}
.m-w-250{
    min-width: 250px;
}
.m-r-10{
    margin-right: 10px;
}
.cursor-p{
    cursor: pointer;
}
.c-red{
    color: red;
}
.d-n{
    display: none;
}
.d-b{
    display: block;
}
.table-dropdown{
    max-width: 28%;
    margin: 20px 0px;
}
.p-a{
    position: absolute;
}
.p-t-10{
    padding-top: 10px;
}
.box-texts{
    text-align: center;
    min-width: 100%;
    color: white;
}
.bg-blue{
    background: #1e88e5 !important;
    min-height: 120px;
}