@import '../../../assets/styles/variable';
/*******************
Taskboard scss
******************/
.taskboard {
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  height: calc(100vh - 0px);
  .taskboard-wrapper {
    width: 280px;
    padding-right: 8px;
    padding-left: 8px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .taskboard-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    white-space: normal;

    border-radius: 0;
  }
  .taskboard-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    padding: 8px 8px 0;
  }
  .taskboard-cards {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .taskboard-task {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;

    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      cursor: grab;
    }
  }
  .taskboard-task:after {
    content: '';
    position: absolute;

    top: 0;
    border-left: 15px solid transparent;
    border-top: 15px solid transparent;
    right: 0px;
  }
  .taskboard-task.task-status-success:after {
    border-top-color: $success;
  }
  .taskboard-task.task-status-info:after {
    border-top-color: $info;
  }
  .taskboard-task.task-status-warning:after {
    border-top-color: $warning;
  }
  .taskboard-task.task-status-danger:after {
    border-top-color: $danger;
  }
  .task-decription {
    color: rgba(0, 0, 0, 0.5);
  }
  .todos {
    .taskboard-task {
      background: $light-info;
    }
  }
  .inprogress {
    .taskboard-task {
      background: $light-warning;
    }
  }
  .completed {
    .taskboard-task {
      background: $light-success;
    }
  }
  .onhold {
    .taskboard-task {
      background: $light-danger;
    }
  }
  .taskboard-cards {
    padding: 8px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .taskboard-task-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
  }
}
.taskboard-w{
  width: 33.33%!important;
}