.piechart {
  height: 300px;
  width: 280px;
  margin: 0 auto;
}
.min-height-150{
  min-height: 150px;;
}
.home-table{
  min-height: 93.5%;
}
.m-r-10{
  margin-right: 10px;
}
.cursor-p{
  cursor: pointer;
}
.c-red{
  color: red;
}
.m-w-250{
  min-width: 250px;
}