<p>View resident screen coming soon!</p>
<!--
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">User Services</h4>
                <h6 class="card-subtitle">All user Services Detail</h6>
                <ngb-tabset *ngIf="userService.length>0;">
                    <ngb-tab *ngFor="let services of userService" title="{{services.service_name}}">
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-sm-12">
                                 <br>
                                    <h4>{{services.service_name}}</h4>
                                    <h4>Description :</h4>
                                    <span>{{services.description}}</span>
                                    <br> <br>
                                  <img class="img-responsive" height="200" src="{{services.service_image}}"/>
                                </div>
                                <div class="col-sm-6" *ngIf="services.service_name == 'FLOWER DELIVERY'">
                                    <br>
                                    <div class="row ">
                                        <span class="col-sm-6">Flower Budget :</span>
                                        <span class="col-sm-6">{{services.service[0].flower_budget}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6">Vase :</span>
                                        <span class="col-sm-6">{{services.service[0].vase}}</span>
                                    </div>

                                    <div class="row">
                                        <span class="col-sm-6"> Vase Budget:</span>
                                        <span class="col-sm-6">{{services.service[0].vase_budget}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6">Display Flower Area :</span>
                                        <span class="col-sm-6">{{services.service[0].display_flower_area}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6">Other Information :</span>
                                        <span class="col-sm-6">{{services.service[0].other_information}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6"> Notes :</span>
                                        <span class="col-sm-6">{{services.service[0].notes}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6" *ngIf="services.service_name == 'RX PICKUP'">
                                    <br>
                                    <div class="row ">
                                        <span class="col-sm-6">Name of Prescription:</span>
                                        <span class="col-sm-6">{{services.service[0].name_of_prescription}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6">Payment Required For Pickup :</span>
                                        <span class="col-sm-6">{{services.service[0].payment_required_for_pickup}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6">Other Information :</span>
                                        <span class="col-sm-6">{{services.service[0].other_information}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6"> Notes :</span>
                                        <span class="col-sm-6">{{services.service[0].notes}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6" *ngIf="services.service_name == 'GENERAL'">
                                    <br>
                                    <div class="row ">
                                        <span class="col-sm-6">Name of General Service:</span>
                                        <span class="col-sm-6">{{services.service[0].name_of_general_service}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6">Other Information :</span>
                                        <span class="col-sm-6">{{services.service[0].other_information}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6"> Notes :</span>
                                        <span class="col-sm-6">{{services.service[0].notes}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6" *ngIf="services.service_name == 'GROCERY SHOPPING'">
                                    <br>
                                    <div class="row ">
                                        <span class="col-sm-6">Organic Items :</span>
                                        <span class="col-sm-6">{{services.service[0].organic_items}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6">Food_allergies :</span>
                                        <span class="col-sm-6">{{services.service[0].food_allergies}}</span>
                                    </div>

                                    <div class="row">
                                        <span class="col-sm-6"> Restrictions:</span>
                                        <span class="col-sm-6">{{services.service[0].restrictions}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6">Prefered Brands :</span>
                                        <span class="col-sm-6">{{services.service[0].prefered_brands}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6">Other Grocery Specifications :</span>
                                        <span class="col-sm-6">{{services.service[0].other_grocery_specifications}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6"> Notes :</span>
                                        <span class="col-sm-6">{{services.service[0].notes}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6" *ngIf="services.service_name == 'HANDY MAN'">
                                    <br>
                                    <div class="row ">
                                        <span class="col-sm-4">Handyman Type:</span>
                                        <span class="col-sm-8">{{services.service[0].handyman_type}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Other Handyman :</span>
                                        <span class="col-sm-8">{{services.service[0].other_handyman}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4"> Reminder :</span>
                                        <span class="col-sm-8">{{services.service[0].reminder}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4"> Notes :</span>
                                        <span class="col-sm-8">{{services.service[0].notes}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6" *ngIf="services.service_name == 'HOUSE KEEPING'">
                                    <br>
                                    <div class="row ">
                                        <span class="col-sm-6">Number of Bedrooms:</span>
                                        <span class="col-sm-6">{{services.service[0].number_of_bedrooms}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6">Number of Bathrooms :</span>
                                        <span class="col-sm-6">{{services.service[0].number_of_bathrooms}}</span>
                                    </div>
                                    <div class="row ">
                                        <span class="col-sm-6">Square Footage :</span>
                                        <span class="col-sm-6">{{services.service[0].square_footage}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6">Cleaning Supplies :</span>
                                        <span class="col-sm-6">{{services.service[0].cleaning_supplies}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6">Housekeeping Preferences :</span>
                                        <span class="col-sm-6">{{services.service[0].housekeeping_preferences}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6"> Reminder :</span>
                                        <span class="col-sm-6">{{services.service[0].reminder}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6"> Notes :</span>
                                        <span class="col-sm-6">{{services.service[0].notes}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6" *ngIf="services.service_name == 'LAUNDRY PICKUP'">
                                    <br>
                                    <div class="row ">
                                        <span class="col-sm-6">Number of Items:</span>
                                        <span class="col-sm-6">{{services.service[0].number_of_items}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6">Specific Instructions :</span>
                                        <span class="col-sm-6">{{services.service[0].specific_instruction}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6" *ngIf="services.service_name == 'LAUNDRY DROPOFF'">
                                    <br>
                                    <div class="row ">
                                        <span class="col-sm-6">Number of Items:</span>
                                        <span class="col-sm-6">{{services.service[0].number_of_items}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6">Relevant Instructions :</span>
                                        <span class="col-sm-6">{{services.service[0].relevant_information}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <br>
                                    <div class="row">
                                        <span class="col-sm-6">Service Enable :</span>
                                        <span class="col-sm-6">{{services.service[0].service_enable}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6">Service Completed :</span>
                                        <span class="col-sm-6">{{services.service[0].service_completed}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6">Service Type Id :</span>
                                        <span class="col-sm-6">{{services.service[0].service_type_id}}</span>
                                    </div>

                                    <div class="row">
                                        <span class="col-sm-6">Created At :</span>
                                        <span class="col-sm-6">{{services.service[0].created_at.substring(0, 10)}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-6">Last Updated :</span>
                                        <span class="col-sm-6">{{(services.service[0].last_updated) ? services.service[0].last_updated.substring(0, 10) : '-' }}</span>
                                    </div>

                                </div>
                                <div class="col-sm-12" *ngIf="services.service_name == 'GROCERY SHOPPING'">
                                    <br>
                                    <div class="row ">
                                        <span class="col-sm-3">Prefered Brand Photos:</span>
                                        <span class="col-sm-1" *ngFor="let images of parseJson(services.service[0].prefered_brand_photos)">
                                            <img class="img-responsive" width="70" height="70" src="{{ images }}"/>
                                        </span>
                                    </div>
                                    <br>
                                    <div class="row ">
                                        <span class="col-sm-3">Not Prefered Brand Photos:</span>
                                        <span class="col-sm-1" *ngFor="let images of parseJson(services.service[0].not_prefered_brand_photos)">
                                            <img class="img-responsive" width="70" height="70" src="{{ images }}"/>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
&lt;!&ndash;                <ng-template #showMsg>No Service Found For This User.</ng-template>&ndash;&gt;
            </div>
        </div>
    </div>
</div>

-->
